
#
# .gitignore
#

# NPM
/node_modules/
/.npmrc
npm-debug.log*

# Composer
/vendor/

# Build
/build/

# Private files
.env.local
.env.*.local
/api/params.prod.php
/src/components/AdminView.vue
.htaccess

# Test coverage
/.nyc_output/

# ESLint
/.eslintrc.js

# Editor files
.vscode
