
#
# .gitignore
#

# NPM
/node_modules/
/.npmrc

# Composer
/vendor/

# Build
/build/
/dist/

# Tests
/.nyc_output/
/tests/alphatab/

# Private files
.env.local
.env.*.local
.htaccess
/api/params.prod.php
/publish
