
/**
 * styles/global.scss
 */

/**
 * Layout
 * -----------------------------------------------------------------------------
 */

// Force the page to be at least the height of the window
html {
	display: flex;
	flex-direction: column;

	height: 100%;
}

body {
	display: flex;
	flex-direction: column;

	flex: 1 0 auto;
}

/**
 * Text
 * -----------------------------------------------------------------------------
 */

p,
p a,
li,
span,
input,
select,
textarea,
label,
legend {
	font-family: 'IBM Plex', helvetica, arial, sans-serif;
}

cite em {
	// Italic in italic should cancel itself
	font-style: normal;
}

.formatted-text {
	line-height: 1.4;

	text-align: justify;

	color: var(--color--text);

	& > p,
	& > ol,
	& > ul {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	& > blockquote:not(:last-child) {
		margin-bottom: 20px;
	}

	ul {
		list-style: disc inside;
	}

	li {
		margin-left: 20px;

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}
}

/**
 * Headers
 * -----------------------------------------------------------------------------
 */

.h2,
.h3 {
	font-family: 'Bebas Bold';

	color: var(--color--text);
}

.h2 {
	font-size: 4rem;
}

.h3 {
	font-size: 2.5rem;
}

/**
 * Lists
 * -----------------------------------------------------------------------------
 */

p {
	ul, ol {
		list-style-type: disc;
	}

	li {
		margin-left: 30px;
	}
}

/**
 * Cursor
 * -----------------------------------------------------------------------------
 */

p,
h1,
h2,
h3 {
	cursor: default;
}

/**
 * Transitions
 * -----------------------------------------------------------------------------
 */

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.fade-leave,
.fade-enter-to {
	opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.2s;
}
